@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    font-family: "DIN";
}

@font-face {
    font-family: 'Valorant';
    src: url('./assets/fonts/Valorant.ttf');

    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('./assets/fonts/DINNextW1G-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('./assets/fonts/DINNextW1G-Medium.otf');
    font-weight: bold;
    font-style: normal;
}